.flex-column{
    display: flex;
    flex-direction: column;
}

.align-list{
    margin-top:10px;
}

.create-room-card{
    margin:auto;
    max-width: 600px;
    width:50%;
    border: 1px solid hsla(0,0%,100%,.2);
    padding:40px;
}

.card-title{
    font-size: 30px; 
    margin-top: 10px; 
    line-height: 30px;
}

.divider{
    margin-bottom:20px;
    margin-top: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.join-button,
.camera-toggle,
.microphone-toggle{
    margin:5px;
    margin-left:0px;
}

.join-button{
    margin-right:0px;
    width: 20%;
    font-size: 16px;
}


.align-toggle-icon{
    padding-top: 35%;
}

.input-box{
    width: 100%;
    font-size: 18px;
}