.flex-column{
    display: flex;
    flex-direction: column;
}

.align-list{
    margin-top:10px;
}


.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.join-button,
.camera-toggle,
.microphone-toggle{
    margin:5px;
    margin-left:0px;
}

.join-button{
    margin-right:0px;
}

.align-toggle-icon{
    padding-top: 35%;
}

.input-box{
    width: 100%;
    font-size: 18px;
}