
.create-room-card{
    min-width: 300px;
    min-height: 300px;
    border: 1px solid hsla(0,0%,100%,.2);
    padding:40px;
    box-shadow: none;
}

.card-title{
    font-size: 30px; 
    margin-top: 10px; 
    line-height: 30px;
}

.divider{
    margin-bottom:20px;
    margin-top: 20px;
}

.page-center{
    width: 35%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}