.text-color{
   color: white;
}


.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0 .75em 0 .75em !important;
}

.align-input{
    width:100%;
   
}

.text-area{
    resize: none;
    height: 65px;
}

.icon-button:hover{
    color: #e91e63
  }