/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
    width: 100%;
    height: 100%;
}

.app-background{
    background:#424242
}

.mat-magenta{
    color:#c2185b
}