.spacer {
    flex: 1 1 auto;
  }


.divider{
  margin-left: 10px;
  margin-right: 10px;
  height: 32.5px;
  width:1px;
  background-color:#fff;
}

.margin {
  margin-left: 6px;
  margin-right: 6px;
  padding-right: 4px;
}

.leave-button {
  margin-left: 10px;
}

.button-spacing{
  padding-right:7.5px;
}

.icon-button
.material-icons{
 font-size: 28px !important;
}


.button-toggle{
  border-bottom: #e91e63;
  border-bottom-style: solid;
  border-radius: 0px !important;
  border-bottom-width: 2.5px;
}

.icon-button:hover{
  color: #e91e63
}