.background{
    background-color: #303030;
    overflow: hidden;
}

.sidebar{
    background-color:#212121; 
    width: 17.5%; 
    height: 100%;
}

.videoLabel {
    color: white;
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    margin-bottom: 5px;
    padding:6px;
    left: 0;
    bottom: 0;
}

.videoContainer {
    position: relative;
    width:max-content;
    height:fit-content;
}
.videoView{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Create 2 columns and auto-place rows */
}

.room-content{
    display: flex; 
    flex-direction:row; 
}

.not-full-width{
    width: 82.5%;
}