.background{
    background-color: #303030;
}

.sidebar{
    background-color:#212121; 
    width: 325px; 
    height: 100%;
    z-index: 5;
}

.fix-width{
    width: 100%;
    height: calc(100% - 64px);
}

.videoLabel {
    color: white;
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    padding:6px;
    left: 0;
    bottom: 0;
}

.videoContainer {
    position: relative;
    width: 500px;
    height: 400px;
}

.videoSize {
    width: 500px;
    height: 400px;
}

.videoView{
    height: 100%;
    overflow-y: auto;
}

@media(max-width:1330px){
   .center{
       width: 500px;
   }
}

.center{
    padding-top: 30px;
    margin: auto;
    max-width: 1005px;
}

.videoGrid{
    display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, 500px);
    grid-template-rows: repeat(2, 400px);
}

.room-content{
    display: flex; 
    flex-direction:row; 
}

.not-full-width{
    width: calc(100% - 325px);
}