<div class="full-width background">
   <call-toolbar [roomSettings]="roomSettings"></call-toolbar>
   <div class="full-width room-content" >
      <div class="videoViewDiv">
         <div *ngFor="let video of videos">
            <div class="videoContainer"> 
               <video autoplay [id]="video.videoId" [srcObject]="video.srcObject" [muted]="video.muted" > </video>
               <label [innerHTML]="video.username" class="videoLabel"></label>
            </div>
         </div>
      </div>
      <div *ngIf="roomSettings.isChatOpen" class="sidebar">
         sidebar
         <button mat-flat-button color="primary" (click)="sendMessage()">send</button>
      </div>
   </div>
</div>
